.map1 {
   margin: center;
   line-height: 1rem;
   font-size: 30px;
   padding-top:3rem;}

.map  {
     max-width:500px;
	 margin: center;
     line-height: 1rem;
     font-size: 30px;
     padding-top:3rem;}
.introduce {
   text-align: center;
   padding:6rem;   }
.route{
   margin: center;
   line-height: 2rem;
   font-size: 20px; }
.food{
   margin: center;
   line-height: 2rem;
   font-size: 35px;
   padding-left:9rem;
   font-weight:bold   }   
.food2{

   padding-left:1rem; }
.info{   
   border-width:3px;
   border-style:solid;
   border-color:#BEBEBE;
   padding:auto;
     }
body {
    font-family: 'Noto Sans TC', sans-serif;
	line-height: 1.8rem;
}
