.map1 {
   margin: center;
   line-height: 1rem;
   font-size: 30px;
   padding-top:3rem;}

.map img {
	 margin: auto;
     line-height: 1rem;
     font-size: 30px;
     padding-top:auto;}
.introduce {
   text-align: center;
   padding:3rem; 
   margin: center;  }
.route{
   margin: center;
   line-height: 2rem;
   font-size: 20px; }
.food{
   margin: center;
   line-height: 2rem;
   font-size: 35px;
   padding-left:9rem;
   font-weight:bold   }   
.food2{

   padding-left:1rem; }
.info{   
   border-width:3px;
   border-style:solid;
   border-color:#BEBEBE;
   padding:auto;
     }
body {
    font-family: 'Noto Sans TC', sans-serif;
	line-height: 1.8rem;
}
@media (max-width: 599px) {
  .google-maps {
    position: relative;
    padding-bottom: 75%; /* 此為地圖長寬比 */
    height: 0;
    overflow: hidden;
  }
  .google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}
.part12 {
    width: 100%;
    float: left;
    margin: 60px auto;
}
.photo{
    float:left;
    width:50%;
}
.part1{
    float:right;
    width:50%;
	font-size:20px;
	padding:1rem;
	
	
}
